In [1]:
import pandas as pd
import numpy as np

In [2]:
full2011 = pd.read_csv('atp_matches_2011.csv')
full2011

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2011-339,Brisbane,Hard,32,A,20110102,1,104417,1.0,NaN,...,27.0,16.0,12.0,9.0,1.0,4.0,5.0,5580.0,173.0,309.0
1,2011-339,Brisbane,Hard,32,A,20110102,2,103582,NaN,NaN,...,59.0,42.0,20.0,14.0,3.0,5.0,58.0,835.0,75.0,643.0
2,2011-339,Brisbane,Hard,32,A,20110102,3,105051,NaN,Q,...,58.0,42.0,6.0,14.0,4.0,8.0,196.0,263.0,204.0,243.0
3,2011-339,Brisbane,Hard,32,A,20110102,4,104797,8.0,NaN,...,43.0,31.0,17.0,11.0,2.0,3.0,40.0,1031.0,43.0,975.0
4,2011-339,Brisbane,Hard,32,A,20110102,5,103888,4.0,NaN,...,37.0,24.0,11.0,8.0,3.0,6.0,16.0,1991.0,83.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,2011-605,Tour Finals,Hard,16,F,20111120,14,104607,NaN,NaN,...,36.0,22.0,26.0,14.0,3.0,8.0,7.0,3300.0,5.0,4480.0
3011,2011-605,Tour Finals,Hard,16,F,20111120,15,104607,NaN,NaN,...,37.0,32.0,27.0,14.0,4.0,5.0,7.0,3300.0,9.0,2395.0
3012,2011-D044,Davis Cup WG F: ESP vs ARG,Clay,4,D,20111202,1,104745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,9575.0,26.0,1335.0
3013,2011-D044,Davis Cup WG F: ESP vs ARG,Clay,4,D,20111202,2,103970,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4880.0,11.0,2315.0
3014,2011-D044,Davis Cup WG F: ESP vs ARG,Clay,4,D,20111202,4,104745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,9575.0,11.0,2315.0

In [32]:
def cleanthisshit(df):   #i prefer cheeky names
    features = df[['surface', 'tourney_level','best_of', 
                     'winner_hand', 'winner_ht', 'winner_age', 'winner_rank', 
                     'loser_hand', 'loser_ht','loser_age', 'loser_rank']]   
    
    courts = pd.get_dummies(features['surface']) #split surfaces into binary
    carpets = courts.iloc[:,0]
    clays = courts.iloc[:,1]
    grasses = courts.iloc[:,2]
    hards = courts.iloc[:,3]   # each surface is now its own variable for insertion
    
    tourneys = pd.get_dummies(features['tourney_level']) #split tourney ranks into binary
    A = tourneys.iloc[:,0]
    D = tourneys.iloc[:,1]
    F = tourneys.iloc[:,2]
    G = tourneys.iloc[:,3]
    M = tourneys.iloc[:,4]  # each tournament level now its own variable for insertion
    
    whands = pd.get_dummies(features['winner_hand'])
    L1 = whands.iloc[:,0]
    R1 = whands.iloc[:,1]
    U1 = whands.iloc[:,2] #you get the point, right? RiGHt?!


    lhands = pd.get_dummies(features['loser_hand'])
    L2 = lhands.iloc[:,0]
    R2 = lhands.iloc[:,1]
    U2 = lhands.iloc[:,2]

    
    features.drop(['surface', 'tourney_level', 'winner_hand', 'loser_hand'], axis=1, inplace=True)  #get rid of those dang letters
    
    features.insert(0, 'carpet', carpets)
    features.insert(1, 'clay', clays)
    features.insert(2, 'grass', grasses)
    features.insert(3, 'hard', hards)
    
    features.insert(4, 'A', A)
    features.insert(5, 'D', D)
    features.insert(6, 'F', F)
    features.insert(7, 'G', G)
    features.insert(8, 'M', M)
    
    features.insert(13, 'L1', L1)
    features.insert(14, 'R1', R1)
    features.insert(15, 'U1', U1)
    
    features.insert(19,'L2',L2)
    features.insert(20,'R2',R2)
    features.insert(21,'U2',U2)
    
    return features

In [3]:
full2011.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [6]:
trim2011 = full2011[['surface', 'tourney_level','best_of', 
                     'winner_hand', 'winner_ht', 'winner_age', 'winner_rank', 
                     'loser_hand', 'loser_ht','loser_age', 'loser_rank']]

In [7]:
trim2011

,surface,tourney_level,best_of,winner_hand,winner_ht,winner_age,winner_rank,loser_hand,loser_ht,loser_age,loser_rank
0,Hard,A,3,R,193.0,26.387406,5.0,R,183.0,18.658453,173.0
1,Hard,A,3,L,193.0,30.507871,58.0,R,175.0,25.749487,75.0
2,Hard,A,3,R,188.0,23.104723,196.0,R,183.0,21.555099,204.0
3,Hard,A,3,R,188.0,24.323066,40.0,R,193.0,22.288843,43.0
4,Hard,A,3,R,188.0,29.067762,16.0,L,183.0,22.513347,83.0
...,...,...,...,...,...,...,...,...,...,...,...
3010,Hard,F,3,R,196.0,26.176591,7.0,R,175.0,29.637235,5.0
3011,Hard,F,3,R,196.0,26.176591,7.0,R,180.0,27.414100,9.0
3012,Clay,D,5,L,185.0,25.486653,2.0,R,185.0,27.665982,26.0
3013,Clay,D,5,R,175.0,29.656400,5.0,R,198.0,23.178645,11.0
3014,Clay,D,5,L,185.0,25.486653,2.0,R,198.0,23.178645,11.0

In [12]:
courts = pd.get_dummies(trim2011.surface)
courts

      Carpet  Clay  Grass  Hard
0          0     0      0     1
1          0     0      0     1
2          0     0      0     1
3          0     0      0     1
4          0     0      0     1
...      ...   ...    ...   ...
3010       0     0      0     1
3011       0     0      0     1
3012       0     1      0     0
3013       0     1      0     0
3014       0     1      0     0

[3015 rows x 4 columns]

In [15]:
carpets = courts.iloc[:,0]
clays = courts.iloc[:,1]
grasses = courts.iloc[:,2]
hards = courts.iloc[:,3]

In [33]:
men2011 = cleanthisshit(full2011)

/Users/MBest/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [34]:
men2011

,carpet,clay,grass,hard,A,D,F,G,M,best_of,...,winner_rank,L1,R1,U1,loser_ht,loser_age,loser_rank,L2,R2,U2
0,0,0,0,1,1,0,0,0,0,3,...,5.0,0,1,0,183.0,18.658453,173.0,0,1,0
1,0,0,0,1,1,0,0,0,0,3,...,58.0,1,0,0,175.0,25.749487,75.0,0,1,0
2,0,0,0,1,1,0,0,0,0,3,...,196.0,0,1,0,183.0,21.555099,204.0,0,1,0
3,0,0,0,1,1,0,0,0,0,3,...,40.0,0,1,0,193.0,22.288843,43.0,0,1,0
4,0,0,0,1,1,0,0,0,0,3,...,16.0,0,1,0,183.0,22.513347,83.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,0,0,0,1,0,0,1,0,0,3,...,7.0,0,1,0,175.0,29.637235,5.0,0,1,0
3011,0,0,0,1,0,0,1,0,0,3,...,7.0,0,1,0,180.0,27.414100,9.0,0,1,0
3012,0,1,0,0,0,1,0,0,0,5,...,2.0,1,0,0,185.0,27.665982,26.0,0,1,0
3013,0,1,0,0,0,1,0,0,0,5,...,5.0,0,1,0,198.0,23.178645,11.0,0,1,0
3014,0,1,0,0,0,1,0,0,0,5,...,2.0,1,0,0,198.0,23.178645,11.0,0,1,0

In [35]:
from numpy import random
reversedorder = [
    'carpet', 'clay', 'grass', 'hard',
    'A', 'D', 'F', 'G', 'M', 'best_of', 
    'loser_ht', 'loser_age','loser_rank','L2', 'R2', 'U2', 
    'winner_ht', 'winner_age','winner_rank', 'L1', 'R1', 'U1']

def flipornotnewframe(row):
    newframe = []
    flip = np.random.choice([0,1], p=[0.5,0.5])
    
    if flip == 0: #player info does not shuffle, player A is winner (default)
        row['result'] = 0
        newframe.append(row)
        
    else:   #winner info goes into player B spot
        row = row.reindex(reversedorder)
        row['result'] = 1
        newframe.append(row)
        
    #rename here
    #holder = dict(zip(row.index[-len(keys):], keys))
    #return row.rename(matchatt.update(holder))
    return pd.DataFrame(newframe)

ready2011 = men2011.apply(lambda x: flipornotnewframe(x), axis=1)

In [40]:
data2012 = pd.read_csv('atp_matches_2012.csv')

In [43]:
cleaned2012 = cleanthisshit(data2012)

/Users/MBest/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [46]:
data2013 = pd.read_csv('atp_matches_2013.csv')

In [58]:
cleaned2013 = updatecleanthisshit(data2013)

/Users/MBest/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
cleaned2013

,clay,grass,hard,A,D,F,G,M,best_of,winner_ht,...,winner_rank,L1,R1,U1,loser_ht,loser_age,loser_rank,L2,R2,U2
0,0,0,1,1,0,0,0,0,3,183.0,...,199.0,0,1,0,180.0,24.621492,79.0,0,1,0
1,0,0,1,1,0,0,0,0,3,180.0,...,83.0,0,1,0,180.0,31.252567,162.0,0,1,0
2,0,0,1,1,0,0,0,0,3,188.0,...,43.0,0,1,0,190.0,23.474333,30.0,1,0,0
3,0,0,1,1,0,0,0,0,3,185.0,...,41.0,1,0,0,185.0,31.030801,35.0,0,1,0
4,0,0,1,1,0,0,0,0,3,180.0,...,114.0,0,1,0,183.0,20.651608,69.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,0,0,1,0,0,1,0,0,3,188.0,...,2.0,0,1,0,185.0,27.422313,1.0,1,0,0
2940,0,0,1,0,1,0,0,0,5,188.0,...,2.0,0,1,0,185.0,34.956879,44.0,0,1,0
2941,0,0,1,0,1,0,0,0,5,196.0,...,7.0,0,1,0,180.0,23.367556,117.0,0,1,0
2942,0,0,1,0,1,0,0,0,5,188.0,...,2.0,0,1,0,196.0,28.150582,7.0,0,1,0
2943,0,0,1,0,1,0,0,0,5,185.0,...,44.0,0,1,0,180.0,23.367556,117.0,0,1,0

In [52]:
courts = pd.get_dummies(features2013.surface)

In [54]:
courts  # no more carpets?

      Clay  Grass  Hard
0        0      0     1
1        0      0     1
2        0      0     1
3        0      0     1
4        0      0     1
...    ...    ...   ...
2939     0      0     1
2940     0      0     1
2941     0      0     1
2942     0      0     1
2943     0      0     1

[2944 rows x 3 columns]

In [57]:
def updatecleanthisshit(df):   #i prefer cheeky names
    features = df[['surface', 'tourney_level','best_of', 
                     'winner_hand', 'winner_ht', 'winner_age', 'winner_rank', 
                     'loser_hand', 'loser_ht','loser_age', 'loser_rank']]   
    
    courts = pd.get_dummies(features['surface']) #split surfaces into binary
    clays = courts.iloc[:,0]
    grasses = courts.iloc[:,1]
    hards = courts.iloc[:,2]   # each surface is now its own variable for insertion
    
    tourneys = pd.get_dummies(features['tourney_level']) #split tourney ranks into binary
    A = tourneys.iloc[:,0]
    D = tourneys.iloc[:,1]
    F = tourneys.iloc[:,2]
    G = tourneys.iloc[:,3]
    M = tourneys.iloc[:,4]  # each tournament level now its own variable for insertion
    
    whands = pd.get_dummies(features['winner_hand'])
    L1 = whands.iloc[:,0]
    R1 = whands.iloc[:,1]
    U1 = whands.iloc[:,2] #you get the point, right? RiGHt?!


    lhands = pd.get_dummies(features['loser_hand'])
    L2 = lhands.iloc[:,0]
    R2 = lhands.iloc[:,1]
    U2 = lhands.iloc[:,2]

    
    features.drop(['surface', 'tourney_level', 'winner_hand', 'loser_hand'], axis=1, inplace=True)  #get rid of those dang letters
    
    
    features.insert(0, 'clay', clays)
    features.insert(1, 'grass', grasses)
    features.insert(2, 'hard', hards)
    
    features.insert(3, 'A', A)
    features.insert(4, 'D', D)
    features.insert(5, 'F', F)
    features.insert(6, 'G', G)
    features.insert(7, 'M', M)
    
    features.insert(12, 'L1', L1)
    features.insert(13, 'R1', R1)
    features.insert(14, 'U1', U1)
    
    features.insert(18,'L2',L2)
    features.insert(19,'R2',R2)
    features.insert(20,'U2',U2)
    
    return features

In [60]:
data2014 = pd.read_csv('atp_matches_2014.csv')

In [61]:
cleaned2014 = updatecleanthisshit(data2014)

/Users/MBest/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [63]:
data2015 = pd.read_csv('atp_matches_2015.csv')

In [71]:
cleaned2015 = updatecleanthisshit(data2015)

/Users/MBest/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [65]:
cleaned2015

,clay,grass,hard,A,D,F,G,M,best_of,winner_ht,...,winner_rank,L1,R1,U1,loser_ht,loser_age,loser_rank,L2,R2,U2
0,0,0,1,1,0,0,0,0,3,183.0,...,153.0,0,1,0,NaN,23.791923,220.0,0,1,0
1,0,0,1,1,0,0,0,0,3,185.0,...,73.0,1,0,0,180.0,22.384668,123.0,0,1,0
2,0,0,1,1,0,0,0,0,3,183.0,...,125.0,0,1,0,183.0,30.023272,21.0,0,1,0
3,0,0,1,1,0,0,0,0,3,188.0,...,31.0,0,1,0,185.0,27.457906,72.0,0,1,0
4,0,0,1,1,0,0,0,0,3,190.0,...,34.0,1,0,0,183.0,33.623546,110.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938,0,0,1,0,0,1,0,0,3,188.0,...,1.0,0,1,0,185.0,29.453799,5.0,1,0,0
2939,0,0,1,0,0,1,0,0,3,188.0,...,1.0,0,1,0,185.0,34.272416,3.0,0,1,0
2940,1,0,0,0,1,0,0,0,5,163.0,...,16.0,0,1,0,188.0,20.873374,100.0,0,1,0
2941,1,0,0,0,1,0,0,0,5,190.0,...,2.0,0,1,0,NaN,27.857632,108.0,1,0,0
2942,1,0,0,0,1,0,0,0,5,190.0,...,2.0,0,1,0,163.0,24.960986,16.0,0,1,0

In [86]:
# ready2012 = cleaned2012.apply(lambda x: flipornotnewframe(x), axis=1)
# ready2013 = cleaned2013.apply(lambda x: updateflipornotnewframe(x), axis=1)
# ready2014 = cleaned2014.apply(lambda x: updateflipornotnewframe(x), axis=1)
# ready2015 = cleaned2015.apply(lambda x: updateflipornotnewframe(x), axis=1)

,clay,grass,hard,A,D,F,G,M,best_of,winner_ht,...,winner_rank,L1,R1,U1,loser_ht,loser_age,loser_rank,L2,R2,U2
0,0,0,1,1,0,0,0,0,3,183.0,...,199.0,0,1,0,180.0,24.621492,79.0,0,1,0
1,0,0,1,1,0,0,0,0,3,180.0,...,83.0,0,1,0,180.0,31.252567,162.0,0,1,0
2,0,0,1,1,0,0,0,0,3,188.0,...,43.0,0,1,0,190.0,23.474333,30.0,1,0,0
3,0,0,1,1,0,0,0,0,3,185.0,...,41.0,1,0,0,185.0,31.030801,35.0,0,1,0
4,0,0,1,1,0,0,0,0,3,180.0,...,114.0,0,1,0,183.0,20.651608,69.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,0,0,1,0,0,1,0,0,3,188.0,...,2.0,0,1,0,185.0,27.422313,1.0,1,0,0
2940,0,0,1,0,1,0,0,0,5,188.0,...,2.0,0,1,0,185.0,34.956879,44.0,0,1,0
2941,0,0,1,0,1,0,0,0,5,196.0,...,7.0,0,1,0,180.0,23.367556,117.0,0,1,0
2942,0,0,1,0,1,0,0,0,5,188.0,...,2.0,0,1,0,196.0,28.150582,7.0,0,1,0
2943,0,0,1,0,1,0,0,0,5,185.0,...,44.0,0,1,0,180.0,23.367556,117.0,0,1,0

In [73]:
courts2015 = pd.get_dummies(data2015.surface)

In [78]:
courts2015

      Clay  Grass  Hard
0        0      0     1
1        0      0     1
2        0      0     1
3        0      0     1
4        0      0     1
...    ...    ...   ...
2938     0      0     1
2939     0      0     1
2940     1      0     0
2941     1      0     0
2942     1      0     0

[2943 rows x 3 columns]

In [81]:
updatereversedorder = [
    'clay', 'grass', 'hard',
    'A', 'D', 'F', 'G', 'M', 'best_of', 
    'loser_ht', 'loser_age','loser_rank','L2', 'R2', 'U2', 
    'winner_ht', 'winner_age','winner_rank', 'L1', 'R1', 'U1']

def updateflipornotnewframe(row):
    newframe = []
    flip = np.random.choice([0,1], p=[0.5,0.5])
    
    if flip == 0: #player info does not shuffle, player A is winner (default)
        row['result'] = 0
        newframe.append(row)
        
    else:   #winner info goes into player B spot
        row = row.reindex(updatereversedorder)
        row['result'] = 1
        newframe.append(row)
        
    #rename here
    #holder = dict(zip(row.index[-len(keys):], keys))
    #return row.rename(matchatt.update(holder))
    return pd.DataFrame(newframe)

In [87]:
ready2012 = cleaned2012.apply(lambda x: flipornotnewframe(x), axis=1)
ready2013 = cleaned2013.apply(lambda x: updateflipornotnewframe(x), axis=1)
ready2014 = cleaned2014.apply(lambda x: updateflipornotnewframe(x), axis=1)
ready2015 = cleaned2015.apply(lambda x: updateflipornotnewframe(x), axis=1)

In [90]:
ready2015[1]

,clay,grass,hard,A,D,F,G,M,best_of,loser_ht,...,L2,R2,U2,winner_ht,winner_age,winner_rank,L1,R1,U1,result
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,180.0,...,0.0,1.0,0.0,185.0,33.453799,73.0,1.0,0.0,0.0,1.0

In [92]:
type(ready2015)

pandas.core.series.Series

In [93]:
twostack = pd.concat([ready2011, ready2012], axis=0, ignore_index=True)

In [94]:
twostack

0          carpet  clay  grass  hard    A    D    F   ...
1          carpet  clay  grass  hard    A    D    F   ...
2          carpet  clay  grass  hard    A    D    F   ...
3          carpet  clay  grass  hard    A    D    F   ...
4          carpet  clay  grass  hard    A    D    F   ...
                              ...
6020          carpet  clay  grass  hard    A    D    F...
6021          carpet  clay  grass  hard    A    D    F...
6022          carpet  clay  grass  hard    A    D    F...
6023          carpet  clay  grass  hard    A    D    F...
6024          carpet  clay  grass  hard    A    D    F...
Length: 6025, dtype: object

In [95]:
threestack = pd.concat([twostack, ready2013], axis=0, ignore_index=True)

In [97]:
fouryrs = pd.concat([threestack, ready2014], axis=0, ignore_index=True)

In [98]:
matches = pd.concat([fouryrs, ready2015], axis=0, ignore_index=True)

In [102]:
matches

0           carpet  clay  grass  hard    A    D    F   ...
1           carpet  clay  grass  hard    A    D    F   ...
2           carpet  clay  grass  hard    A    D    F   ...
3           carpet  clay  grass  hard    A    D    F   ...
4           carpet  clay  grass  hard    A    D    F   ...
                               ...
14808          clay  grass  hard    A    D    F    G   ...
14809          clay  grass  hard    A    D    F    G   ...
14810          clay  grass  hard    A    D    F    G   ...
14811          clay  grass  hard    A    D    F    G   ...
14812          clay  grass  hard    A    D    F    G   ...
Length: 14813, dtype: object

In [110]:
def delresult(srs):
    srs = srs.iloc[-1]
    return srs

In [114]:
matches20112015 = matches.apply(lambda x: delresult(x))

In [121]:
X = matches20112015.drop('result', axis=1)
X

y = matches20112015.result

In [122]:
y

0        1.0
1        0.0
2        1.0
3        0.0
4        0.0
        ...
14808    1.0
14809    0.0
14810    1.0
14811    0.0
14812    1.0
Name: result, Length: 14813, dtype: float64

In [119]:
#looks like we might be ready to go

random forest time

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_score, recall_score, accuracy_score, plot_confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn import tree

In [123]:
#train test split to enable model evaluation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3)

In [124]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000)
# Train the model on training data
rf.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [125]:
#fuck me, need to find / account for Nan